<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2016 - 2019 &copy; Minton theme by <a href="">Kroot</a>
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="javascript:void(0);">About</a>
                    <a href="javascript:void(0);">Help</a>
                    <a href="javascript:void(0);">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>